venv/
.venv
.env
__pycache__/
.idea/
*.pkl
*.csv
sample_feed.py
test.py
*.ipynb
.ipynb_checkpoints/
*.db
data/
config.py
*.sqlite3
script.py
memory
.vscode

# Default
node_modules
.env
# Dependency directories
node_modules/
jspm_packages/

# Parcel
dist
.cache

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dotenv environment variables file
.env

# Yarn Integrity file
.yarn-integrity

.DS_Store

strategy_object_store

temp/